* {
    /*el asterisco se usa para aplicar estilos a TODO*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    background-color: rgb(224, 224, 224);
    color: black;
}

header {
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(224, 224, 224);
    min-width: 100vw;
    border-block-end: 0.1rem solid black;
}

.options a:hover {
    background-color: rgba(255, 255, 255, 0.951);
    color: black;
    transition: ease-out .7s;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: bold;
}

.options li a {
    margin-left: 80px;
    margin-right: 80px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border: 0.1rem solid black;

}

.style {
    /*style*/
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.1rem solid black;
    background-color: whitesmoke;
    box-shadow: 0 2px 3px 0 black;
    justify-content: center;
    padding: 1rem;
    margin: 4rem;
    justify-self: center;
    width: -webkit-fill-available;
}

.style img {
    /*style*/
    height: 700px;
    margin: 2rem;
    border: 0.1rem solid black;

}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    /* sirve para convertir el texto a mayus*/
}

.cv {
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.style button a {
    /*style*/
    text-decoration: none;
    color: black;
    align-self: center;
}

.cv:hover {
    border-radius: 10px;
    background-color: black;
    padding: 0.5rem;
    transition: ease-in-out .7s;
}

.cv:hover a {
    color: white;
}

.hero {
    /*hero*/
    min-width: 90vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.style div {
    /*style*/
    margin: 2rem;
    text-align: start;
}

.sobre-mi {
    text-align: center;
    min-width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sobre-mi h2 {
    margin: 2rem;
    font-size: xx-large;
}

.sobre-mi p {
    font-size: x-large;
    text-align: justify;
    margin: 2rem;
}

table {
    border: 0.1rem solid black;
    justify-content: center;
    margin: 2rem 8rem;
}

table,
th,
td {
    border: 0.1rem solid black;
    border-collapse: collapse;
    padding: 2rem;
    font-size: x-large;
}

td {
    text-align: initial;
}

li {
    justify-items: center;
}

.style2 {
    height: fit-content;
    border: 0.1rem solid black;
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 8rem;
    align-items: center;
}

.conocimientos {
    min-width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conocimientos h2 {
    text-align: center;
    margin: 2rem;
    font-size: xx-large;
}

.educacion p {
    font-size: x-large;
    text-align: center;
}

.details {
    text-align: center;
    margin: 2rem;
    font-size: larger;
}

.details img {
    height: 4rem;
    width: 4rem;
    margin: 1rem;
}

.contacto h2 {
    text-align: center;
    margin: 2rem;
    font-size: xx-large;
}

.contacto {
    min-width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto p {
    text-align: center;
    font-size: large;
}

footer nav ul {
    display: flex;
}

.footer nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}

.footer li {
    margin: 0 2rem;
    display: grid;
}

.footer img {
    width: 3rem;
    height: 3rem;
}

.redes-sociales {
    margin-left: 3rem;
}